.employeeContainer {
  position: relative;
  top: 400px;
  width: 80%;
  height: 30%;
  border-radius: 10px;
  border-top-right-radius: 0px;
  margin: 10px auto;
}

#employeeList {
  position: relative;
  width: 60%;
  height: 20px;
  margin: 0 auto;


}
