footer {
  // position: absolute;
  margin-top: 50.6vh;
  height: 20px;
  background-color: $main-navbar-color;
  color: $main-text-color;
  padding-bottom: 1px;
  padding-right: 10px;
}

footer p {
  text-align: right;
}
