nav {
  background-color: #2F6690;
  padding: 7px;
  padding-left: 20px;
}

.searchbar {
  -webkit-appearance:textfield;
  box-sizing: content-box;
  font-size: 1.3em;
  width: 300px;
  border-radius: 5px 0 0 5px;
  border: none;
  padding: 2px 15px;
}

.submitbtn {
  background-color: white;
  border-radius: 0 5px 5px 0;
}

ion-icon{
  font-size: 1.8em;
}
